@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway&display=swap');

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #172121;
}

/* headings and logo */

h1 {
    font-family: Montez, sans-serif;
    color: #8a6a7a;
}

h2 {
    font-family: Montez, sans-serif;
    font-size: 250%;
    color: #f8f3f2;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 35px;
}

/* navigation */

#menu {
    float: right;
    font-size: 115%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #7f7b82;
}

#logo, #menu {
    line-height: 65px;
}

/* hero image and welcome */

#hero-contain {
    height: 650px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#hero {
    height: 650px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    
    animation-name: zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}

@keyframes zoom {
    from { 
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#welcome-text, #welcome-text h2 {
    margin: 0;

    color: #f8f3f2;
}

#welcome-text {
    font-size: 115%;

    height: 175px;
    width: 300px;

    bottom: 35px;
    right: 0px;

    padding: 40px;

    position: absolute;

    background-color: rgba(23, 33, 33, .5);
}
/* sections and section headings*/
/* classes and times section */

#classes-heading {
    text-align: center;
    background-color: #444554;
}

#classes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em
}

.classes-grid-all {
    width: 80%;
    padding: 35px;
    clear: both;
}

/* about us section */

#about-heading {
    text-align: center;
    background-color: #7f7b82;
}

/* contact section */

#contact-heading {
    text-align: center;
    background-color: #8a6a7a;
}

/* footer section */

#footer {
    height: 100px;
    background-color: #e5d0cc;
}

/* media queries */
/* for screen sizes 1200px and down */

@media screen and (max-width: 1200px) {
    
}

/* for screen sizes 900px and down */

@media screen and (max-width: 900px) {
    
}

/* for screen sizes 750px and down */

@media screen and (max-width: 750px) {
    #menu {
        float: left;
        position: relative;
        line-height: 30px;
        margin-bottom: 25px;
        margin-left: 35px;
    }

    #hero {
        height: 650px;
        width: 100%;
        background: url('../images/hero-image-small.jpg') no-repeat center center;
        
        animation-name: zoom;
        animation-duration: 6s;
        animation-fill-mode: backwards;
    }

    #welcome-text {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    #logo {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-left: 0px;
    }
}