@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #172121;
}

/* headings and logo */

h1 {
    font-family: Montez, sans-serif;
    color: #8a6a7a;
}

h2 {
    font-family: Montez, sans-serif;
    font-size: 250%;
    color: #f8f3f2;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 35px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* navigation */

#menu {
    float: right;
    font-size: 115%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #7f7b82;
}

#logo, #menu {
    line-height: 65px;
}

/* hero image and welcome section */

#hero-section {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero {
    height: 650px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    animation-name: zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}

@keyframes zoom {
    from { 
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#welcome-text, #welcome-text h2 {
    margin: 0;
    color: #f8f3f2;
}

#welcome-text {
    font-size: 115%;
    height: 175px;
    width: 300px;
    bottom: 35px;
    right: 0px;
    padding: 40px;
    position: absolute;
    background-color: rgba(23, 33, 33, .5);
}

/* general for sections */

.general-section-heading {
    text-align: center;
    height: 50px;
    background-color: #444554;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* classes and times section */

#classes-section {
    justify-content: center;
}

#classes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.classes-grid-all {
    width: 80%;
    padding: 35px;
    clear: both;
}

.classes-grid-all h3 {
    text-align: center;
}

.fas {
    font-size: 200%;
    color: #7f7b82
}

.classes-times {
    padding-top: 1em;
}

.classes-times p {
    margin: 0;
}

#classes-divider {
    text-align: center;
    padding-bottom: 2em;
}

/* about us section */

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.about-grid-all {
    width: 80%;
    padding: 35px;
    clear: both;
}  

.about-grid-all h3 {
    text-align: center;
}

#about-chris-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-chris-image {
    background: url('../images/about-chris.jpg');
    height: 100%;
    border-radius: 50%;
}

#about-liza-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-liza-image {
    background: url('../images/about-liza.jpg');
    height: 100%;
    border-radius: 50%;
}

#about-sarah-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-sarah-image {
    background: url('../images/about-sarah.jpg');
    height: 100%;
    border-radius: 50%;
}

/* contact section */

.contact-section {
    clear:left;
    background: url('../images/contact-background.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    overflow: hidden;
}

.contact-form {
    float:left;
    color: #f8f3f2;
    background-color: rgba(127, 123, 130, 0.6);
    max-width: 600px;
    padding: 35px;
    height: 800px;
}

.input-text {
    font-family: Raleway, sans-serif;
    background: transparent;
    color: #172121;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 2px solid #f8f3f2
}

.input-text:hover {
    border-color: #7f7b82;
}

.send-button {
    font-family: Raleway, sans-serif;
    font-size: 100%;
    color: #f8f3f2;
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-right: 0;
    padding: 10px 25px 10px 25px;
    background-color: #444554;
    display: block;
    border: 2px solid #f8f3f2
}

.send-button:hover {
    color: #444554;
    background-color: #f8f3f2;
    border-color: #444554;
}

.contact-info {
    padding-top: 100px;
}

.contact.map {
    padding-bottom: 20%;
    overflow: hidden;
    position: relative;
    height: 0;
}

.contact.map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

/* footer section */

#footer {
    height: 100px;
    background-color: #8a6a7a;
}

/* media queries */
/* for screen sizes 1200px and down */

@media screen and (max-width: 1200px) {
    
}

/* for screen sizes 900px and down */

@media screen and (max-width: 900px) {

    #classes-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    #about-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* for screen sizes 750px and down */

@media screen and (max-width: 750px) {
    #menu {
        float: left;
        position: relative;
        line-height: 30px;
        margin-bottom: 25px;
        margin-left: 35px;
    }

    #hero {
        height: 650px;
        width: 100%;
        background: url('../images/hero-image-small.jpg') no-repeat center center;
        
        animation-name: zoom;
        animation-duration: 6s;
        animation-fill-mode: backwards;
    }

    #welcome-text {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    #logo {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-left: 0px;
    }

    #classes-grid {
        grid-template-columns: 1fr;
    }
    
    #about-grid {
        grid-template-columns: 1fr;
    }
}