@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #172121;
    width: 100%;
    margin: 0px;
}

/* headings and logo */

h1 {
    font-family: Montez, sans-serif;
    color: #8a6a7a;
}

h2 {
    font-family: Montez, sans-serif;
    font-size: 250%;
    color: #f8f3f2;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 35px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* navigation */

#menu {
    float: right;
    font-size: 115%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #7f7b82;
}

.menu-active {
    color: #7f7b82;
}

#logo, #menu {
    line-height: 65px;
}

/* hero image and welcome section */

#hero-section {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero {
    height: 650px;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
    animation-name: zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}

@keyframes zoom {
    from { 
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#welcome-text, #welcome-text h2 {
    margin: 0;
    color: #f8f3f2;
}

#welcome-text {
    font-size: 115%;
    height: 175px;
    width: 300px;
    bottom: 35px;
    right: 0px;
    padding: 40px;
    position: absolute;
    background-color: rgba(23, 33, 33, .5);
}

/* general for sections */

.general-section-heading {
    text-align: center;
    height: 50px;
    background-color: #444554;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.general-grid {
    width: 80%;
    padding: 35px;
    clear: both;
}

.general-grid h3 {
    text-align: center;
}

/* classes and times section */

#classes-section {
    justify-content: center;
}

#classes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.fas {
    font-size: 200%;
    color: #7f7b82
}

.classes-times {
    padding-top: 1em;
}

.classes-times p {
    margin: 0;
}

.classes-divider {
    text-align: center;
}

.section-image {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#classes-image {
    height: 650px;
    width: 100%;
    background: url('../images/classes-image.webp') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/* about us section */

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

#about-chris-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-chris-image {
    background: url('../images/about-chris.webp');
    height: 100%;
    border-radius: 50%;
}

#about-liza-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-liza-image {
    background: url('../images/about-liza.webp');
    height: 100%;
    border-radius: 50%;
}

#about-sarah-frame {
    height: 175px;
    width: 175px;
    padding: 5px;
    border-width: 3px;
    border-radius: 50%;
    border-style:solid;
    border-color: rgba(127, 123, 130, 0.75);
    margin: 0 auto;
}

#about-sarah-image {
    background: url('../images/about-sarah.webp');
    height: 100%;
    border-radius: 50%;
}

/* contact section */

.contact-section {
    clear:left;
    background: url('../images/contact-background.webp');
    background-size: cover;
    background-position: center;
    height: 800px;
    overflow: hidden;
}

.contact-form {
    float:left;
    color: #f8f3f2;
    background-color: rgba(127, 123, 130, 0.6);
    max-width: 30em;
    padding: 35px;
    height: 800px;
}

.input-text {
    font-family: Raleway, sans-serif;
    background: transparent;
    color: #172121;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 2px solid #f8f3f2
}

.input-text:hover {
    border-color: #7f7b82;
}

.send-button {
    font-family: Raleway, sans-serif;
    font-size: 100%;
    color: #f8f3f2;
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-right: 0;
    padding: 10px 25px 10px 25px;
    background-color: #444554;
    display: block;
    border: 2px solid #f8f3f2
}

.send-button:hover {
    color: #444554;
    background-color: #f8f3f2;
    border-color: #444554;
}

.contact-info {
    padding-top: 100px;
}

.contact-info h3 {
    line-height: 0;
    padding-top: 2em;
}

.contact-map-container {
    padding-bottom: 20%;
    overflow: hidden;
    position: relative;
    height: 0;
}

.contact-map {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute
}

/* footer section */

#footer {
    color: rgba(248, 243, 242, 0.5);
    font-size: 85%;
    height: 55px;
    width: 100%;
    background-color: #444554;
    padding-top: 1em;
}

#footer-copyright {
    float: left;
    margin-left: 5%;
}

#footer-social {
    float: right;
    margin-right: 5%;
    width: 300px;
}

.footer-social >li {
    display: inline;
}

.footer-social i {
    color: #f8f3f2;
    padding: 0 1em;
    float: right;
}

/* our place page */

.our-place-section-heading {
    text-align: center;
    height: 50px;
    background-color: #444554;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both
}

#our-place-photos {
    column-count: 4;
    column-gap: 0;
    line-height: 0;
    clear: both;
}

#our-place-photos > img {
    width: 100%;
}

/* thank you page */

.thank-you {
    text-align: center;
    clear: both;
    height: 325px;
}

.thank-you-heading {
    text-align: center;
    height: 50px;
    background-color: #444554;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both
}

.thank-you-text {
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 125%;
}

/* media queries */
/* for screen sizes 1200px and down */

@media screen and (max-width: 1200px) {
    
}

/* for screen sizes 1120px and down*/

@media screen and (max-width: 1120px) {

    #classes-grid {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    
    #about-grid {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .contact-map-container {
        padding-bottom: 30%;
        overflow: hidden;
    }

    iframe {
        border: 0;
    }
}

/* for screen sizes 770px and down */

@media screen and (max-width: 770px) {
    #hero {
        height: 650px;
        width: 100%;
        background: url('../images/hero-image-small.webp') no-repeat center center;
    }

    #our-place-photos {
        column-count: 3;
    }
}

/* for screen sizes 570px and down */

@media screen and (max-width: 570px) {
    #menu {
        float: right;
        position: relative;
        line-height: 30px;
        margin-bottom: 25px;
        margin-left: 35px;
    }

    #welcome-text {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    #logo {
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-left: 0px;
    }

    .general-grid {
        width: 100%;
        padding: 20px 0px 35px 0px;
        clear: both;
    }

    #classes-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #about-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact-form {
        max-width: 100%;
    }

    .contact-map-container {
        padding-bottom: 40%;
    }

    #footer {
        height: 80px;
    }

    #footer-copyright {
        float: none;
        text-align: center;
        margin-left: 0;
    }

    #footer-social {
        float: none;
        text-align: center;
        margin-right: 0;
        margin-left: -5%;
        width: 100%;
    }

    .footer-social i {
        padding: 0 1em;
        float: none;
    }

    #our-place-photos {
        column-count: 2;
    }
}